<?xml version="1.0"?>

<!--
  更多关于如何设置你的ASP.NET应用程序的信息, 请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="EmailValidationDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\EmailValidationDB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <httpHandlers>
        <add path="mail.axd" verb="GET" validate="false" type="VBASPNETEmailAddressValidator.EmailAvailableValidationHandler" />
      </httpHandlers>
    </system.web>

</configuration>
