<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 更改为你的命名空间. -->
		<add key="serviceNamespace" value="[namespace]"/>
	</appSettings>

	<system.serviceModel>
		<bindings>
			<webHttpRelayBinding>
				<binding name="default">
					<!-- 关闭客户端身份验证，以便Silverlight客户端不需要当前证书. -->
					<security relayClientAuthenticationType="None" />
				</binding>
			</webHttpRelayBinding>
		</bindings>

		<services>
			<!-- 应用程序服务 -->
			<service name="ServiceBus.RestService"
               behaviorConfiguration="default">
				<endpoint name="RelayEndpoint"
                  contract="ServiceBus.IRestService"
                  binding="webHttpRelayBinding"
                  bindingConfiguration="default"
                  behaviorConfiguration="sharedSecretClientCredentials"
                  address="" />
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="sharedSecretClientCredentials">
					<transportClientEndpointBehavior credentialType="SharedSecret">
						<clientCredentials>
							<!-- 将[name]更改为你的发行人姓名(默认情况下为&quot;owner&quot;), 并且将[key]更改为你的发行人的密钥. -->
							<sharedSecret issuerName="[name]" issuerSecret="[key]" />
						</clientCredentials>
					</transportClientEndpointBehavior>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="default">
					<serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>