<?xml version="1.0"?>

<configuration>
	<system.web>
		<compilation debug="true" defaultLanguage="VB" targetFramework="4.0"/>
		<!--扩展最大请求长度到1GB-->
		<httpRuntime maxRequestLength="1048576"/>
		<httpModules>
			<add name="VBASPNETFileUploadStatus" type="VBASPNETFileUploadStatus.UploadProcessModule"/>
		</httpModules>
		<customErrors mode="Off"/>
	</system.web>
	<!--如果使用的是IIS7+，我们需要在这里设置限制-->
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
